
An overview paragraph for {{ scope._type }} has not been written yet.
There are {{ len(devices) }} instances in this design. To create an overview paragraph,
create a template file `components/{{ scope._type }}/Overview.jinja2` with a short description of the device.