= {{ scope._type }} Programming
This section has not been written yet.
To get started, create a file "components/{{ scope._type }}/Programming.jinja2" and add some basic text.
If there are multiple {{ scope._type }}s in the design, the template variable "devices" contains all of them.

{{ Section(".RegisterList", scope, **kwargs) }}
